:root {
  --font-hierarchy: "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

/* font-faces setup with styles and weight mean
  can use the family definition in body and only the styles in the css design */

@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Italic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url(assets/fonts/Roboto-ThinItalic.ttf);
  font-style: italic;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: "Roboto";
  /* Contains 3 sections arranged vertically, top aligned */
  display: grid;
  align-content: start;
  place-items: center;
}

header p {
  font-size: 24px;
  line-height: 1.5;
}

/*
  Main box has 20% margin either side
  Image and text container receive 50%/50% split (image 30% takes half of 60% available)
  Text wraps round image (image floats left)
  Image extended to grow outside border of container - 3rd increase so take half of margin


*/

header {
  background-color: aquamarine;
}

header h1 {
  font-size: 36px;
  text-align: center;
}

.header-content {
  margin: 15vw 20vw 60px 20vw;
  position: relative;
}

header h2 {
  margin: 0;
  position: absolute;
  font-size: 70px;
  top: -8vw;
  right: 30px;
  z-index: 6;
}

/* Other content in parent floats around image,
   while image is pushed outwards up and left */
header img {
  margin-right: 20px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 30px -15px black;
  /* border: 1px solid black; */
  width: 30vw;
  height: 30vw;
  float: left;
  transform: translateX(-15%) translateY(-15%) scale(130%);
  position: relative;
  z-index: 5;
}

#header-text-container {
  box-shadow: 1px 1px 30px -15px black;
  background-color: white;
  padding: 80px 30px;
  /* border: 1px solid black; */
  position: relative;
  z-index: 4;
}

.socials-link {
  width: 30px;
}

main {
  background-color: azure;
}

footer {
  background-color: aquamarine;
}

#thin-italic {
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
}

#regular {
  font-size: 40px;
  font-weight: 400;
}

#bold {
  font-size: 20px;
  font-weight: 700;
}

#normal {
  font-size: 40px;
}

/* tablet size, player windows above each other */
@media (width > 640px) and (width <= 1024px) {
  body {
    background-color: red;
  }
}

/* tablet size, player windows above each other */
@media (width <= 640px) {
  body {
    background-color: green;
  }
}
